.pending-card {
  background-color: #00000080;
  box-shadow: 5px 5px 20px #00000080;
  z-index: 0;
}

/* Hover Button */

.btn_container {
  color: #35f8ff;
  position: relative;
  display: inline-block;
}
.prog_btn {
  text-transform: uppercase;
  color: #35f8ff;
  font-size: 1.3rem;
  padding: 10px 25px;
  z-index: 3;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-out;
  position: relative;
}

.btn_container .svgStroke {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: -25%;
  left: 0;
}

.btn_container .svgStroke path {
  stroke-dasharray: 100;
  stroke-dashoffset: -800;
  stroke-width: 2;
  transition: all 1s ease-in-out;
  stroke: #35f8ff;
}
@keyframes dash {
  0% {
    stroke-dasharray: 100;
    stroke-width: 2;
  }
  50% {
    stroke-width: 4;
    stroke: #35f8ff;
    filter: drop-shadow(0px 0px 3px #e8615a) drop-shadow(0px 0px 20px #35f8ff)
      drop-shadow(0px 0px 150px #35f8ff);
  }
  100% {
    stroke-dashoffset: 800;
    stroke-width: 2;
  }
}

.prog_btn:hover + .svgStroke path {
  cursor: pointer;
}

.prog_btn:hover {
  font-size: 1.2rem;
}

/* Small Header */

.small_header {
  letter-spacing: 0.035rem;
  text-shadow: -9px -9px 30px currentcolor;
  font-size: 2.5rem !important;
  color: #35f8ff;
}

/* Progress Bar */

.progress_bar {
  height: 3px;
  background-color: #e8615a;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #e8615a;
  transition: ease 600ms;
}

.progress_data {
  color: #35f8ff;
  text-shadow: -9px -9px 30px currentcolor;
  font-size: 1.5rem;
}

/* Loader */

.box {
  position: relative;
  min-height: 280px;
  border-width: 1px;
  border-color: rgba(255, 165, 0, 0.2);
  border-style: solid;
  padding: 10px;
}

.box::before {
  content: " ";
  width: 100%;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-color: transparent orange;
  left: -1px;
  bottom: -4px;
}

.box::after {
  content: " ";
  border-width: 4px;
  width: 100%;
  border-style: solid;
  border-color: transparent orange;
  position: absolute;
  top: -4px;
  right: -1px;
}

.circle {
  position: absolute;
  top: -20px;
  right: -60px;
  width: 120px;
  height: 120px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent orange;
  border-radius: 50%;
  animation: rotating 2s linear infinite forwards;
}

.circle::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 165, 0, 0.2);
  border-radius: 50%;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  border-bottom: 1px solid rgba(255, 166, 0, 0.5);
  letter-spacing: 0.035rem;
  text-shadow: -9px -9px 30px currentcolor;
  font-size: 2.5rem !important;
  color: #35f8ff;
}

.paragraph {
  font-size: 1.4rem;
  color: #35f8ff;
}

.editBtn:hover {
  border: none;
  rotate: 360deg;
  transition: all 600ms;
}
